<section id="banner">
    <div class="wrapper">
      <header>
        <nav>
          <a href="#">Inicio</a>
          <a href="#">Productos</a>
          <a href="#">Acerca de</a>
          <a href="#">Contacto</a>
        </nav>
      </header>
      <div class="content">
        <div id="logo">
        <a href="#" >
          <%= image_tag("natural_agave_logo")%>
        </a>
        </div>
        <h2 class="title">Endulzante Natural</h2>
        <div class="button_wrapper">
          <a href="#" class="button button_highlight">Leer más</a>
        </div>

      </div>
    </div>
  </section>
