<section id="banner">
    <div class="wrapper">
      <header>
        <nav>
          <a href="#">Inicio</a>
          <a href="#">Productos</a>
          <a href="#">Acerca de</a>
          <a href="#"><span class= button_light>Contacto</span></a>
        </nav>
      </header>
      <div class="content">
        <div id="logo">
        <a href="#" >
          <%= image_tag("natural_agave_logo")%>
        </a>
        </div>
        <h2 class="sub-title">Endulzante Natural</h2>
        <div class="button_wrapper">
          <a href="#" class="button button_highlight">Leer más</a>
        </div>
      </div>
    </div>
  </section>
  <section id="productshome" class="cf" >
    <div class="wrapper">
      <div class="product">
        <h3 id="h3_upa"><br>U  P  A</br>Kids<h3>
        <div id="circle_frame_img">
          <a href="#" >
            <%= image_tag("upa_kids_cirlce.png")%>
          </a>
        </div>
        <p>Bebidas para niños y no tan niños.Endulzada con miel de agabe organica</p>
        <a href="#" class="button_small button_highlight">Aprende más</a>
      </div>
      <div class="product">
        <h3>Miel de Agave en sobres<h3>
          <div id="circle_frame_img">
            <a href="#" >
              <%= image_tag("miel_sobres_cirlce.png")%>
            </a>
          </div>
        <p>Nuestra presentación en sobres, proporciona funcionalidad que se adaptada a la vida
diaria.</p>
        <a href="#" class="button_small button_highlight">Aprende más</a>
      </div>
      <div class="product">
        <h3>Agua Tonic Gourmet<h3>
          <div id="circle_frame_img">
            <a href="#" >
              <%= image_tag("agua_tonic_circle.png")%>
            </a>
          </div>
        <p>La primera Agua Quina / Agua Tonica Artesanal Gourmet Premium creada en México
de manera artesanal</p>
        <a href="#" class="button_small button_highlight">Aprende más</a>
      </div>
    </div>
  </section>
